{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/about-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <p>
                            <strong>&#128075; Welcome to The Magic Coder!</strong>
                        </p>

                        <p>
                            &#128187; This blog is a place where I share my knowledge,
                            learning experiences, programming concepts, projects, and useful tips.
                        </p>

                        <p>
                            &#128161; I believe that learning becomes more meaningful
                            when we share what we discover.
                        </p>

                        <p>
                            &#128640; Through this blog, I aim to document my journey,
                            explore new technologies, and share practical knowledge with
                            other developers and learners.
                        </p>

                        <p>
                            &#128170; Keep learning. Keep coding. Keep creating.
                        </p>

                    </div>
                </div>
            </div>
        </main>
{% endblock %}